.management-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 50px;
}

.management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #E4E0DA;
    padding-bottom: 20px;
}

.management-header__stats {
    color: var(--card-font-color);
    font-family: var(--font-secondary);
}

.management-header__add-btn {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.tag--active {
    color: var(--color-primary-light);
    font-weight: 800;
}

.pub-card__owner-actions {
    display: flex;
    gap: 5px;
}

.action-btn--edit {
    background: var(--bg);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

.pub-card__footer-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: auto;
}

.card-btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.card-btn--resolve {
    background-color: var(--color-secondary);
    color: #346739;
}

.card-btn--delete {
    background-color: #ffeded;
    color: #cc0000;
}

.card-btn:hover {
    filter: brightness(0.9);
}