.login-section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;
}

.welcome__img {
    height: 350px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 24px #1c1a1827;
    margin-bottom: 20px;
}

.login-section__card {
    min-width: 320px;
}

.card__btn--send {
    margin-top: 25px;
}

.card__input {
    width: 250px;
}

.login-section__welcome b {
    color: var(--card-font-color);
    font-family: var(--font-secondary);
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}