html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: medium;
}

header {
    display: flex;
    justify-content: center;
}

#sections {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(119, 115, 115, 0.432);
    align-items: center;
}

#endpoints {
    width: 22%;
}

#description {
    width: 50%;
    padding-left: 30px;
}

#examples {
    display: flex;
    width: 28%;
    background-color: rgb(35, 27, 70);
    color: white;
    padding-left: 30px;
    padding-right: 20px;
}

#endpoints button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px 15px 15px;
    text-align: start;
    border: none;
    background-color: rgba(177, 177, 177, 0.205);
    font-size: large;
    color: rgba(65, 65, 65, 0.815)
}

#endpoints button:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(92, 92, 92, 0.466);
}

.publicar {
    align-self: flex-start;
}

#ejemplo {
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.596);;
    width: 100%;
    padding: 5px 0px 5px 10px;
}

img {
    width: 20px;
    height: 20px;
}

h2 {
    margin: 0;
}

ul{
    list-style-type: none;
}

#llave {
    justify-self: flex-start;
}